{% extends 'plantillas\base.html' %}
{% block contenido %}
    <div class="container">
        <h2 style="text-align:center;">Iteligencia Artificial</h2>
        <p>
            Hace tiempo que la inteligencia artificial abandonó el espectro de la ciencia ficción para colarse en nuestras 
            vidas y, aunque todavía en una fase muy inicial, está llamada a protagonizar una revolución equiparable a
             la que generó Internet. Sus aplicaciones en múltiples sectores —como salud, finanzas, transporte o educación,
              entre otros— han provocado que la Unión Europea desarrolle sus propias Leyes de la Robótica.
        </p>
        <img src="https://inprofit.es/server/Portal_0033275/img/blogposts/inteligencia-artificial-tipos-y-aplicaciones_12121.jpg" alt="">
    </div>
    



    
    
    {% endblock contenido %}
